<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hello data</h1>
    <form action="/showdata" method="POST">
        <label for="name">name</label>
        <input type="text" name="name" id="name" required>
        <label for="age">age</label>
        <input type="number" name="age" id="age" required>
        <button type="submit">Post Data</button>
    </form>
</body>
</html>